/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
	.container {
		width: 1024px !important;
	}

	.article-container article .content {
		width: 487px;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 768px !important;
	}

	#slider .slide .book-cover {
		width: 27%;
	}

	#slider .slide .slide-description {
		width: 70%;
	}

	#slider .sd-meta {
		margin-top: 0;
	}

	.article-container {
		width: 100%;
	}

	.article-container article .content {
		width: 553px;
	}

	#main-sidebar {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.container {
		width: 480px !important;
	}

	#inner-header .logo {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.article-container {
		width: 100%;
	}

	#main-sidebar {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	#main-footer .upper-footer .widget {
		width: 100%;
	}

	#top-bar-search {
		width: 100%;
		margin: 15px auto;
		margin-bottom: 0;
	}

	#top-bar {
		padding: 20px;
		height: 100%;
		background: #1D1515;
	}
	#top-bar #top-bar-menu,
	#top-bar #top-bar-menu li,
	#top-bar #top-bar-menu ul,
	.menu-top-bar-menu-container {
		display: block;
		width: 100%;
	}

	#top-bar #top-bar-menu li a {
		display: block;
		width: 100%;
		border-bottom: 1px solid #362619;
		text-align: center;
	}

	#top-bar #top-bar-menu li a:hover {
		background: #362619;	
	}

	#main-menu {
		width: 100%;
	}

	#main-menu ul li {
		width: 100%;
	}

	#main-menu ul li a {
		display: block;
		width: 100%;
		border-bottom: 1px solid rgb(225, 225, 225);
		padding: 10px;
		text-align: center;
	}

	#main-menu ul li a:hover {
		background: #F7F7F7;
	}

	#main-menu ul li.menu-item-has-children {
		position: relative;
	}

	#main-menu ul li.menu-item-has-children i {
		position: absolute;
		top: 18px;
		right: 17px;
	}

	#main-menu nav li ul {
		position: static;
		width: 100%;
		background: #F7F7F7;
		box-shadow: inset 0px 2px 2px rgba(200, 200, 200, 0.3);
		z-index: 9999;
	}

	#slider .slide .book-cover {
		display: none;
	}

	#slider .slide .slide-description .sd-title {
		font-size: 18px;
		line-height: 1;
	}

	#slider .slide .slide-description {
		width: 100%;
	}

	#slider .slide .sd-body {
		height: 143px;
	}

	.article-container article .feat-img {
		float: none;
		margin: 0 auto;
	}

	.article-container article .content {
		width: 100%;
		margin-top: 20px;
	}

}

@media all and (max-width: 480px) {
	.container {
		width: 80% !important;
	}

	#inner-header .logo {
		display: block;
		margin: 0 auto;
		float: none;
	}

	.article-container {
		width: 100%;
	}

	#main-sidebar {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	#main-footer .upper-footer .widget {
		width: 100%;
	}

	#top-bar-search {
		width: 100%;
		margin: 15px auto;
		margin-bottom: 0;
	}

	#top-bar {
		padding: 20px;
		height: 100%;
		background: #1D1515;
	}
	#top-bar #top-bar-menu,
	#top-bar #top-bar-menu li,
	#top-bar #top-bar-menu ul,
	.menu-top-bar-menu-container {
		display: block;
		width: 100%;
	}

	#top-bar #top-bar-menu li a {
		display: block;
		width: 100%;
		border-bottom: 1px solid #362619;
		text-align: center;
	}

	#top-bar #top-bar-menu li a:hover {
		background: #362619;	
	}

	#main-menu {
		width: 100%;
	}

	#main-menu ul li {
		width: 100%;
	}

	#main-menu ul li a {
		display: block;
		width: 100%;
		border-bottom: 1px solid rgb(225, 225, 225);
		padding: 10px;
		text-align: center;
	}

	#main-menu ul li a:hover {
		background: #F7F7F7;
	}

	#main-menu ul li.menu-item-has-children {
		position: relative;
	}

	#main-menu ul li.menu-item-has-children i {
		position: absolute;
		top: 18px;
		right: 17px;
	}

	#main-menu nav li ul {
		position: static;
		width: 100%;
		background: #F7F7F7;
		box-shadow: inset 0px 2px 2px rgba(200, 200, 200, 0.3);
		z-index: 9999;
	}

	#slider .slide .book-cover {
		display: none;
	}

	#slider .slide .slide-description .sd-title {
		font-size: 18px;
		line-height: 1;
	}

	#slider .slide .slide-description {
		width: 100%;
	}

	#slider .slide .sd-body {
		height: 143px;
	}

	.article-container article .feat-img {
		float: none;
		margin: 0 auto;
	}

	.article-container article .content {
		width: 100%;
		margin-top: 20px;
	}
}